.timer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @media(max-width: 576px){
        gap: 8px;
    }

    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        background: url("../images/timer-cell.svg") 0 0 / 100% 100% no-repeat;
        font-family: $accentFont;
        line-height: 1;
        color: $colorMain;

        &-number {
            font-size: 40px;
        }
    }
}
