<footer class="site-footer">
    <div class="site-footer__abstraction site-footer__abstraction--first">
        <img src="@img/blocks/footer/abstraction-01.svg" alt="Abstraction" title="Abstraction" />
    </div>
    <div class="site-footer__abstraction site-footer__abstraction--second">
        <img src="@img/blocks/footer/abstraction-02.svg" alt="Abstraction" title="Abstraction" />
    </div>
    <div class="container">
        <div class="site-footer__body">
            <div class="site-footer__line site-footer__line--top"></div>
            <div class="site-footer__line site-footer__line--right"></div>
            <div class="site-footer__line site-footer__line--bottom"></div>
            <div class="site-footer__line site-footer__line--left"></div>
            <div class="site-footer__left">
                <div class="site-footer__logo">
                    <img width="209" height="82" src="@img/logo.svg" alt="Logo" title="Logo" />
                </div>
                <p class="site-footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>
            <ul class="site-footer__tabs tabs">
                <li class="tabs__item">
                    <button data-page-tab="token" class="tabs__tab">Token</button>
                </li>
                <li class="tabs__item">
                    <button data-page-tab="private-sale" class="tabs__tab is-active">Private sale</button>
                </li>
            </ul>
            <a href="#" class="site-footer__button button">To plug</a>
        </div>
        <p class="site-footer__copyright">Copyright@2023 HOTON. All right reserved</p>
    </div>
</footer>
