<header class="site-header">
    <div class="container">
        <div class="site-header__body">
            <button type="button" class="site-header__burger burger">
                <span class="burger__line"></span>
            </button>
            <ul data-page-tabs class="site-header__tabs tabs">
                <li class="tabs__item">
                    <button data-page-tab="token" class="tabs__tab tabs__tab--has-active-shadow">Token</button>
                </li>
                <li class="tabs__item">
                    <button data-page-tab="private-sale" class="tabs__tab tabs__tab--has-active-shadow is-active">Private sale</button>
                </li>
                <li class="tabs__item">
                    <div class="tabs__tab is-soon">Public sale</div>
                    <div class="tabs__soon">SOON</div>
                </li>
            </ul>
            <a href="#" class="site-header__button button">TO PLUG</a>
        </div>
        <div class="site-header__panel burger-menu">
            <div class="burger-menu__container container">
                <div class="burger-menu__top">
                    <div class="burger-menu__logo">
                        <img width="153" height="62" src="@img/logo.svg" alt="Logo" title="Logo" />
                    </div>
                    <button type="button" class="burger-menu__close">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.39989 13.3078L0.692139 12.6L6.29214 7.00001L0.692139 1.40001L1.39989 0.692261L6.99989 6.29226L12.5999 0.692261L13.3076 1.40001L7.70764 7.00001L13.3076 12.6L12.5999 13.3078L6.99989 7.70776L1.39989 13.3078Z"
                                fill="#FF7801"
                            />
                        </svg>
                    </button>
                </div>
                <ul class="burger-menu__tabs tabs">
                    <li class="tabs__item">
                        <button data-page-tab="token" class="tabs__tab">Token</button>
                    </li>
                    <li class="tabs__item">
                        <button data-page-tab="private-sale" class="tabs__tab is-active">Private sale</button>
                    </li>
                    <li class="tabs__item">
                        <div class="tabs__tab is-soon">Public sale</div>
                        <div class="tabs__soon">SOON</div>
                    </li>
                </ul>
                <a href="#" class="burger-menu__button button">TO PLUG</a>
            </div>
        </div>
    </div>
</header>
